@CHARSET "ISO-8859-1";

.ip{
    border: 5px outset white;
    border-radius: 12px;
    margin-top: 100px;
    height: 345px;
}

.uname{
    margin-top: 50px;
    
}

h1{
    text-align: center;
    font-family: 'Supermercado One', cursive;
    color: white;
    text-shadow: 4px 7px 6px black;
}

body{
    background: url(../images/glenn-carstens-peters-203007-unsplash.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
}

.navbar-brand>img{
    width: 50px;
    height: 50px;
    margin-top: -17px;
}

.navbar-brand>span{
    margin: 0px auto;
}

.errormsg{
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.loginBtn{
	margin: 10px auto; 
}

.badge{
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 100%;
}

#errMsgDiv{
	display: none;
}

.roledropdown{
	text-align:center;
}