@CHARSET "ISO-8859-1";

@media (min-width: 768px)

.form-control{
	width: auto;
}

.after{
	margin-left: 600px;
}

.orange{
	background-color: #FB3618;
	color: white;
}

.before{
	padding-right: 10px;
}

.addquesbtn{
	cursor: pointer;
	padding-right: 10px;
	border-right: 1px solid black;
}

.deletebtn{
	cursor: pointer;
	padding-left: 10px;
}

